.cotation {
    width: 400px;
}

.cotation h2 {
    margin-bottom: 10px;
}

.allLists {
    border-left: 1.6px solid lightgray;
    padding-left: 10px;
}

.cotation .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.row p {
    font-size: 14px;
    display: flex;
    flex: 1;
    margin-bottom: 5px;
}

.row:nth-child(2), .row:nth-child(3) {
    border-bottom: 1px dotted lightgray;
}


.boldText {
    font-weight: 600;
    color: #0f5e72;
}
