.notasimprensa {
    width: '400px';
    padding: 20px;
}

.notasimprensa h2 {
    margin-bottom: 20px;
}

.notasimprensa a {
    text-decoration: none;
    color: #1567b4;
}

.notas {
    border-left: 1.6px solid lightgray;
    padding-left: 15px;
}

.nota {
    margin: 12px 0 0 0;
}

.nota span {
    color: #0f5e72;
}

span > * {
    transition: 0.2s;
}

.nota:hover span * {
    transform: translateX(-4px);
}

.maisNotas {
    text-align: right;
}

.maisNotas a > * {
    font-size: 20px;
    margin-left: 5px;
    transition: 0.2s;
}

.maisNotas:hover a > * {
    transform: translateX(4px);
}