* {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.App {
  position: relative;
  top: 121px;
}

.socialmediabar {
  display: none;
}

.socialmedia {
  display: block;
}

@media screen and (max-width: 1024px) {
  .socialmediabar {
    display: block;
  }
  
  .socialmedia {
    display: none;
  }
  .App {
    top: 148px;
  }
}

.lowerComponents {
  display: flex;
  margin: 30px;
}

.lowerComponents > div > * {
  margin-bottom: 20px;
}